* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ebece5;
}
/* ADDS STYLE TO HEAVER AND NAVIGATION BAR */
header {
    background-color: #b2b083;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
header h1 {
    font-weight: lighter;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 15px;
}
header a {
    text-decoration: none;
    color: #ebece5;
}
header nav {
    margin: 15px 0;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
}
header nav ul li a:hover {
    background: #969162;
    color: #ebece5;
    border-radius: 15px;
    text-shadow: none;
}
nav {
    background-color: #b2b083;
    padding: 15px;
}

/* ADDS STYLE TO ABOUT ME PHOTO */
.photo img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90%;
    padding: 25px;
}

/* ADDS STYLE TO HERO SECTION */
.hero img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
} 

/* ADDS STYLE TO ALL HEADERS */
.header {
    font-size: 40px;
    color: #969162;
    font-weight: lighter;
    text-align: center;
    margin: auto;
    padding: 10px;
}

/* ADDS STYLE TO ABOUT ME SECTION */
.about-bio p {
    margin: auto;
    width: 75%;
    font-size: 16px;
    line-height: 1.5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 25px;
    color: #969162;
    background-color: #ebece5;
}

/* ADDS STYLE TO CONTACT ME SECTION*/
.contact-info a {
    color: #969162;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-decoration: none;
    font-size: 18px;
}

/* ADDS FLEX STYLING TO CONTACT ME LINKS*/
.flex-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
    
}

/* ADDS STYLE TO FOOTER SECTION */
footer {
    background-color: #a5a371;
    width: 100%;
    padding: 15px;
}
footer h2 {
    font-size: 20px;
    margin: 0;
    text-align: right;
    font-weight: lighter;
    color: #ebece5;
}

/* ADDS STYLE TO RUN BUDDY IMAGE */
.sample article {
    padding: 20px;
    background: #b2b083;
    color: #ebece5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: left;
    margin: auto;
    width: 900px;
}
.sample a img {
    width: 50%;
}

/* ADDS STYLE & FLEX TO SAMPLE IMAGES */
main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}
.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
}
.sample {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
}

.sample header {
    padding: 20px;
    background: #b2b083;
    color: #ebece5;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.sample img {
    width: 100%;
    min-width: 400px;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        Justify-content: center;
    }
    header nav ul li a {
            font-size: 20px;
    }
    
    
    /* MEDIA QUERY FOR TABLETS AND SMALLER */
    @media screen and (max-width: 768px) {
    }
    
    /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
    @media screen and (max-width: 575px) {
    }