
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #fff;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header h1 {
    font-weight: lighter;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    
}
header a {
    text-decoration: none;
    color: #eacbc6;
}
header nav {
    margin: 15px 0;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}
header nav ul li a:hover {
    background: #eacbc6;
    color: #fff;
    border-radius: 15px;
    text-shadow: none;
  }



nav {
    background-color: #fff;
}
body {
    background-color: #f9f5f0;
}